body {
  font-family: 'Helvetica';
}
h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

.text-margin {
  margin: 5px;
}

.row-space {
  display: flex;
  justify-content: space-around;
}
.shadow {
  border-radius: 10px;
  box-shadow: inset 5px 5px 20px #c8c9cc,
    inset -5px -5px 20px #FFFFFF;
}
.row.center {
  align-items: center;
}
.col-1 {
  flex: 1;
}
.col-2 {
  flex: 2;
}

.right-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-btn {
  align-self: flex-end;
}

.block {
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.block-inside {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 0rem;
  /* padding-bottom: 5rem; */
  /* padding: 0.5rem; */
  margin-right: 20px;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.block-right {
  background-color: #e0e0e0;
  padding-right: 43rem;
  padding-bottom: 5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.bottom-block {
  background-color: #e0e0e0;
  padding-top: 14rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.background-white {
  background-color: #ffffff;
  border-style: solid;
  border-color: grey;
}
.text-right {
  text-align: right;
}
.text-green {
  color: #00a000;
}
img.small {
  max-height: 8rem;
}
button {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  width: 100%;
  cursor: pointer;
}
button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}
button:hover {
  opacity: 0.7;
}